html {
  overflow-y: scroll;
  overscroll-behavior: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-black antialiased dark:bg-neutral-900 dark:text-white;
}

/* Scrollbar */

html::-webkit-scrollbar {
  @apply w-1.5 bg-transparent;
}
html::-webkit-scrollbar-track {
  @apply bg-none;
}
html::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-300;
}
html::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}
html.dark::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-800;
}
html.dark::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-700;
}

.prose :where(iframe):not(:where([class~='not-prose'] *)) {
  @apply aspect-video h-auto w-full rounded-xl border dark:border-transparent;
}

/* Theme change animation */

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 1000;
}
.dark::view-transition-old(root) {
  z-index: 1000;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

.v-popper__inner {
  background: #000 !important;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.1),
    0 4px 11px rgba(0, 0, 0, 0.2) !important;
}

.v-popper__arrow-outer {
  border-color: #000 !important;
}
